.QuizQuestionForm {
  background-color: rgb(var(--bg-white));
  padding: 1rem 2rem;
  border-radius: 5px;

  margin-bottom: 2rem;
}

.title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  background-color: rgb(var(--accent-color));
  border-radius: 25px;
}

.inputField {
  width: 100%;
  margin-top: 20px;
}

.options {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  margin-top: 20px;
}

.options .inputField {
  margin-top: 0;
}

.inputField label {
  color: #333;
}

/* Used to show and hide form */
.formikContainer {
  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 500ms;
  padding-top: 1rem;
}

.formikContainer > .form {
  overflow: hidden;
}

.formikContainerOpen {
  grid-template-rows: 1fr;
}

.form
  :where(
    .inputField input,
    .inputField textarea,
    .inputField select,
    .inputField option
  ) {
  position: relative;
  height: 50px;
  width: 100%;
  outline-color: transparent;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 6px;
  padding: 0 15px;
}

.form .inputFieldError :where(input, select, textarea) {
  border-color: red;
}

.form
  :where(
    .inputField input:focus,
    .inputField textarea:focus,
    .inputField select:focus,
    .inputField option:focus
  ) {
  outline: 1px solid black;
  border-color: transparent;
}

.inputField textarea {
  height: 200px;
  resize: vertical;
}

.inputField input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.column {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 1rem;
}

.QuizQuestionForm .registerButton,
.QuizQuestionForm .resetButton,
.QuizQuestionForm .toggleFormButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  min-width: min(170px, 100%);
}

.QuizQuestionForm .resetButton {
  background-color: red;
}

.QuizQuestionForm .resetButton:hover,
.QuizQuestionForm .resetButton:focus {
  background-color: rgb(241, 49, 49);
}
