.commentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.commentContainer .commentButton {
  position: absolute;
  right: 0;
  bottom: -2.5rem;

  cursor: pointer;
  font-size: 1rem;
  fill: rgb(66, 80, 108);
  font-weight: 500;
  text-align: center;
  align-self: flex-end;
  padding: 0.25rem 1rem;
}

.commentContainer .commentBox {
  width: 100%;
  height: 80px;
  border: none;
  box-shadow: rgba(99, 99, 110, 0.2) 0 7px 29px 0;
  border-radius: 0.4rem;
  resize: none;
  padding: 0.7rem;
}

.commentContainer .commentBox::placeholder {
  color: rgb(187, 187, 187);
  font-weight: 300;
}
