.Login {
  padding-top: 3rem;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--accent-color));
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin: 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
  transition: height 0.2s ease;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: rgb(var(--accent-color));
  border-radius: 25px;
}

.inputField {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.inputField > input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.inputField > input:where(:focus, :valid) {
  border-bottom-color: rgb(var(--accent-color));
}

.inputFieldError > input {
  border-bottom-color: red;
}

.icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.inputField input:is(:focus, :valid) ~ i {
  color: rgb(var(--accent-color));
}

.eyeIcon {
  right: 0;
  left: auto;
  font-size: 45px;
  cursor: pointer;
  padding: 10px;
}

.form .checkboxText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.checkboxText .checkboxContent {
  display: flex;
  align-items: center;
}

.checkboxContent input {
  accent-color: rgb(var(--accent-color));
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  color: #333;
  font-size: 14px;
}

.signUpText {
  color: #333;
  font-size: 14px;
}

.signUpText > a {
  margin-left: 0.2rem;
}

.forgotPassword,
.signUpText > a {
  padding-left: 5px;
  color: rgb(var(--accent-color));
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}
.forgotPassword:hover,
.signUpText > a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: rgb(var(--accent-color));
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

.button input:disabled {
  background-color: grey;
}

.form .loginSignUp {
  margin-top: 30px;
  text-align: center;
}

.orLabel {
  text-align: center;
  color: rgb(var(--text-color-light));
  font-weight: 500;
  margin-block: 1rem;
}
