.shareButton {
  width: 100%;
  margin-top: 0.8rem;
  background-color: white;
  padding: 0.3rem 2rem;
  border-radius: 6px;
  border: 1px solid #754cff;
  color: #754cff;
}

@media (min-width: 768px) {
  .shareButton {
    width: auto;
    margin-right: 1rem;
  }
}
