.deleteButton {
  color: red;
  background-color: white;
}

.deleteButton:disabled {
  border-color: gray;
  color: gray;
}

.DeleteModal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);

  z-index: 1000;
}

.container {
  position: relative;
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin: 0 20px;
  padding: 2rem;
}

.modalCloseButton {
  margin-top: 0.8rem;
  margin-right: 1rem;
  padding: 0.3rem 1.5rem;
  border-radius: 6px;
  background-color: lightgray;
  color: rgb(var(--dark-color));
}

.modalDeleteButton {
  margin-top: 0.8rem;
  padding: 0.3rem 1.5rem;
  border-radius: 6px;
  background-color: red;
  color: white;
}

.modalDeleteButton:disabled {
  border-color: gray;
  color: gray;
}

@media (min-width: 768px) {
  .deleteButton {
    width: auto;
    margin-right: 1rem;
  }
}
