.Quiz {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-margin-top: 3rem;
  margin-inline: auto;
  padding-block: 2rem;
  background-color: rgb(var(--bg-light));
  padding-top: 3.5rem;
}

.title {
  text-transform: capitalize;
  text-align: center;
}
