.UserSearch {
  min-height: 100vh;
  min-height: 100dvh;

  scroll-margin-top: 3rem;
  margin-inline: auto;
  padding-block: 2rem;
  background-color: rgb(var(--bg-light));
  margin-top: 3.5rem;
}

.UserSearch h2 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.searchBarInput {
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin-inline: 0rem;
  margin-bottom: 0.8rem;
}

.scrollFooter {
  text-align: center;
}

.scrollFooters > p {
  font-size: 1.2rem;
}

.PostList .nextPageButton {
  display: block;
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
}

.listContainer {
  border: 1px solid #ddd;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.listContainer .item {
}

.username {
  font-size: medium;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: rgb(var(--dark-color));
}
