.navbar {
  background-color: black;
  height: 60px;
}

.head {
  padding: 3rem 10rem 0 10rem;
}

.heading {
  font-size: 2.7rem;
  color: rgb(var(--text-color-dark));
  text-align: center;
}

.topPosts {
  padding-top: 2rem;
  display: flex;
}

.topPost1 {
  padding: 2rem;
  width: 33rem;
  border: 1px solid #ebf0f6;
  padding-bottom: 4rem;
}
.topPost2 {
  padding: 2rem;
  width: 33rem;
  border: 1px solid #ebf0f6;
  margin-left: 1rem;
}
.topPost3 {
  padding: 2rem;
  width: 33rem;
  border: 1px solid #ebf0f6;
  margin-left: 1rem;
}

.postFooter {
  display: flex;
}
.postLikes {
  margin-left: auto;
  margin-right: 2rem;
}

.postButtonContainer {
  margin-top: 1.5rem;
  text-align: center;
}

.postButton {
  padding-left: 5rem;
  padding-right: 5rem;
}

.writeContainer {
  margin-top: 3.5rem;
  text-align: center;
}

.writeExperienceButton {
  padding: 0.75rem 3.5rem;
}

.posts {
  scroll-margin-top: 3rem;
  margin-inline: auto;
  padding-block: 2rem;
  background-color: rgb(var(--bg-light));
  margin-top: 3.5rem;
}

.posts h2 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.interviewPost {
  /* display: flex; */
  background-color: rgb(var(--bg-white));
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}

.interviewPost:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsl(0deg 0% 0% / 10%);
}

.postDomain {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(var(--accent-color), 0.2);
}

.postTitle {
  margin-top: 0.5rem;
  /* margin-bottom: 0.5rem; */
  font-size: 2rem;
}

.postTitle:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.postDescription p {
  margin-top: -1rem;
  color: rgb(var(--text-color-light));
  margin-bottom: 1rem;
}

.postAuthor {
  display: inline-block;
  font-weight: 500;
  margin-bottom: -0.5rem;
}

.postMoreDetail > span {
  color: rgb(var(--text-color-light));
  margin-right: 1rem;
  font-weight: 200;
}

.recentPostFooter {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}

.filter {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}

.upArrow {
  fill: #754cff;
  width: 3rem;
  height: 4rem;
  margin-top: -0.2rem;
  margin-left: 1.1rem;
}
.downArrow {
  fill: #754cff;
  width: 3rem;
  height: 4rem;
  margin-top: -2.5rem;
  transform: rotate(180deg);
  margin-left: 1rem;
}
.content {
  display: flex;
  gap: 1rem;
  height: auto;
  padding-right: 3rem;
}

.heart {
  fill: red;
}

.block1 p {
  margin-top: 0rem;
  padding-top: 0rem;
}

.voteOption {
  display: flex;
}

.filerElementBlock {
  display: flex;
  column-gap: 15px;
}

.filerElementinputField {
  width: 100%;
}

.inputField label select option {
  color: #333;
}

.filterElement
  :where(
    .filerElementinputField input,
    .filerElementinputField select,
    .filerElementinputField option
  ) {
  position: relative;
  height: 50px;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  padding-right: 10px;
}

.filerElementinputField input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarInput {
  position: relative;
  height: 50px;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  padding-right: 10px;
  width: 30rem;
  padding-left: 25px;
  padding-right: 25px;
}

.searchBarIcon {
  font-size: 1.5rem;
}

.voteOptionDisplay {
  padding-top: 0.4rem;
  gap: 0.8rem;
  display: flex;
}

.upVote {
  font-size: 2rem;
  fill: rgb(66, 80, 108);
  margin-top: .2rem;
  /* margin-right: 0.5rem; */
}

.downVote {
  font-size: 2rem;
  fill: rgb(66, 80, 108);
  margin-top: 0.2rem;
}

.voteCount {
  margin-top: 0.1rem;
  font-size: 1.3rem;
}

.bookMarkContainer {
  /* background-color: red; */
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.7rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 2.5rem;
}
.bookMark {
  font-size: 1.2rem;
  color: #754cff;
}

.shareButton {
  background-color: white;
  padding: 0.2rem 2rem 0.2rem 2rem;
  border-radius: 50px;
  margin-top: 1rem;
  margin-left: 37rem;
  border: 1px solid #754cff;
  color: #754cff;
}