.navbar {
  background-color: black;
  height: 60px;
}

.head {
  padding: 3rem 10rem 0 10rem;
}

.heading {
  font-size: 2.7rem;
  color: rgb(var(--text-color-dark));
  text-align: center;
  align-items: center;
}

.topPosts {
  padding-top: 2rem;
  display: flex;
}

.topPost1 {
  padding: 2rem;
  width: 33rem;
  border: 1px solid #ebf0f6;
}
.topPost2 {
  padding: 2rem;
  width: 33rem;
  border: 1px solid #ebf0f6;
  margin-left: 1rem;
}
.topPost3 {
  padding: 2rem;
  width: 33rem;
  border: 1px solid #ebf0f6;
  margin-left: 1rem;
}

.postFooter {
  display: flex;
}
.postLikes {
  margin-left: auto;
  margin-right: 2rem;
}

.postButtonContainer {
  margin-top: 1.5rem;
  text-align: center;
}

.postButton {
  padding-left: 5rem;
  padding-right: 5rem;
}

.writeContainer {
  margin-top: 3rem;
  text-align: center;
}

.writeExperienceButton {
  padding: 0.75rem 3.5rem;
}
/* .searchBlock {
  margin-top: 80px;
  margin-left: 100px;
}

.searchBar {
  margin-top: 30px;
  width: 800px;
  height: 65px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 50px;
}

.browseByCompany {
  margin-top: 140px;
  margin-left: 100px;
}

.byLocation {
  display: flex;
  padding: 40px;
  padding-left: 50px;
  padding-right: 110px;
  padding-top: 40px;
  text-align: center;
}

.block {
  margin-left: 60px;
  padding-top: 20px;
  height: 280px;
  width: 500px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.heading {
  margin-top: 70px;
  padding-left: 100px;
}
.postList {
  display: flex;
  columns: 2;
  padding: 100px;
}
.postListLeft {
  width: 70%;
  padding-bottom: 10px;
}

.postListRight {
  width: 400px;
  height: 700px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 30px;
}

.postListLeftItem {
  width: 900px;
  height: 250px;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 50px;
} */
