.nestedComment {
  background-color: rgb(248, 249, 254);
  margin-left: 0.7rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.nCmtHead {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding-right: 10px;
}

.nUName {
  font-size: small;
  font-weight: 200;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  color: rgb(var(--dark-color));
}

.nDate {
  font-size: small;
  font-weight: 200;
  color: rgb(151, 151, 151);
  padding: 0px;
}

.nestedCmtData {
  padding: 0px;
  font-size: small;
}
