.LoginRequiredModal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);

  z-index: 1000;
}

.container {
  position: relative;
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin: 0 20px;
  padding: 2rem;
}

.LoginRequiredModal .title {
  text-align: left;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: rgb(var(--accent-color));
  border-radius: 25px;
}

.LoginRequiredModal .content {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(var(--text-color-light));
  text-align: left;
  padding-block: 0;
  padding-inline: 0;
}

.buttons {
  margin-top: 1rem;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

.backButton {
  cursor: pointer;
  color: white;
  background-color: red;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: none;
}

.loginButton {
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  background-color: rgb(var(--accent-color));
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  border: none;
}

@media (max-width: 600px) {
  .LoginRequiredModal .title {
    font-size: 1.3rem;
  }

  .LoginRequiredModal .content {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column-reverse;
  }
}
