.interviewPost {
  background-color: rgb(var(--bg-white));
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}

/* .interviewPost:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsl(0deg 0% 0% / 10%);
} */

.postDomain {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(var(--accent-color), 0.2);
}

.postTitle {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  background-color: inherit;
}

.postTitle:hover {
  cursor: pointer;
  text-decoration-thickness: 2px;
}

.postTitle > a {
  color: rgb(var(--dark-color));
  text-decoration: none;
}

.postDescription {
  font-size: 0.9rem;
  padding-top: 0.6rem;
  color: rgb(66, 80, 108);
  margin-bottom: 1rem;
}

.userActions {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.voteOption {
  width: fit-content;
  border-radius: 10px;
  display: grid;
  align-items: center;
  gap: 0;
}

.voteArrow {
  cursor: pointer;
  font-size: 1.5rem;
  fill: rgb(66, 80, 108);
}

.voteCount {
  text-align: center;
  font-size: 1rem;
}

.postMoreDetail > span {
  display: block;
  color: rgb(var(--text-color-light));
  margin-right: 1rem;
  font-weight: 200;
}

.postAuthor {
  display: inline-block;
  font-weight: 500;
  margin-bottom: -0.5rem;
  color: rgb(var(--dark-color));
  text-decoration: none;
}

.bookMarkContainer {
  width: fit-content;
  display: inline-block;
  margin-left: auto;
}

.readButton {
  width: 100%;
  padding: 0.3rem 2rem;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #754cff;
  background-color: #754cff;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .filtersContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 50rem;
    margin-bottom: 2rem;
  }
  .readButton {
    width: auto;
    margin-right: 1rem;
    text-align: center;
  }
}
