.mainMenu {
  background-color: rgb(var(--bg-white));
  padding: 1rem 2rem;
  border-radius: 5px;
}

.mainMenu > * + * {
  margin-top: 1rem;
}

.title {
  text-transform: capitalize;
}

.topic {
  margin-left: 0.25rem;
}

.mainMenu li {
  list-style: inside;
}

.mainMenu .startQuizButton {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 1rem;
}
