.QuizList {
  min-height: 100vh;
  min-height: 100dvh;

  scroll-margin-top: 3rem;
  margin-inline: auto;
  padding-block: 2rem;
  background-color: rgb(var(--bg-light));
  margin-top: 3.5rem;
}

.quizImage {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: contain;

  margin-bottom: 1rem;
}

.quizDetail {
  background-color: rgb(var(--bg-white));
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.quizDetail li {
  font-size: 1rem;
  color: rgb(var(--text-color-light));
  list-style: inside;
}

.quizTopic {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(var(--bg-white));

  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.quizTopic a {
  align-self: baseline;
  justify-self: center;
}

.quizTopic > h2 {
  font-size: 1.25rem;
}

.quizTopic > p {
  color: rgb(var(--text-color-light));
  margin-bottom: 0.5rem;
}

.QuizList .startButton {
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

@media (min-width: 500px) {
  .quizTopics {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    grid-auto-rows: 1fr;
  }

  .quizTopic {
    margin-bottom: auto;
  }
}
