.scrollFooter {
  text-align: center;
}

.scrollFooters > p {
  font-size: 1.2rem;
}

.nextPageButtonBookmark {
  display: block;
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}
