@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Root styles */
:root {
  /* 
    --accent-color: 64, 112, 244;
    --accent-color-dark: 38, 93, 242; 
  */

  --accent-color: 91, 47, 240;
  --accent-color-dark: 62, 45, 178;

  --white-color: 255, 255, 255;
  --light-color: 248, 249, 254;
  --dark-color: 12, 20, 37;

  --text-color-dark: 12, 20, 37;
  --text-color-light: 66, 80, 108;

  --bg-white: 255, 255, 255;
  --bg-light: 248, 249, 254;

  --box-shadow: 0 12px 24px 2px rgb(129 146 179 / 8%);
  --navbar-height: 50px;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

button,
a {
  cursor: pointer;
}

button {
  border: none;
}

li[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Basic Styling */
body {
  width: 100%;
  line-height: 1.5;

  text-rendering: optimizeSpeed;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove all animations, transitions and smooth scrolling */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* custom button */
.default-button {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: rgb(var(--accent-color));
  border-radius: 6px;
  font-size: 1.25rem;
  box-shadow: 0 2px 8px 0 rgb(117 76 255 / 25%);

  color: #fff;
  cursor: pointer;

  border: none;
  outline: none;

  display: inline-block;
  position: relative;
  text-align: center;

  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.default-outline-button {
  color: rgb(var(--accent-color));
  background-color: transparent;
  border: 1px solid rgb(var(--accent-color));
}

.default-button:disabled {
  cursor: default;
}

.default-button:focus,
.default-button:hover {
  background-color: rgb(var(--accent-color-dark));
}

.default-outline-button:focus,
.default-outline-button:hover {
  color: rgb(var(--white-color));
  background-color: rgb(var(--accent-color));
}

/* input required * css */
.required {
  color: red;
  margin-left: 2px;
}

/* For bold text */
.bold-text {
  font-weight: bold;
}

/* Container Style */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* For readability we are using visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
