.NotFound {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex-grow: 2;
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
}
.title {
  margin: 0;
  font-size: 6em;
  font-weight: 100;
  color: rgb(20, 143, 242);
}
.NotFound p {
  width: 95%;
  font-size: 1.5em;
  line-height: 1.4;
  color: rgb(20, 143, 242);
}
.buttons {
  white-space: nowrap;
  display: inline-block;
}
.buttons span {
  display: block;
  text-transform: uppercase;
  color: #b9ddfb;
  letter-spacing: 1.5px;
  text-align: center;
}

.linkBtn {
  padding: 0.8em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 3px solid #b9ddfb;
  color: #138ff2;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  position: relative;
  overflow: hidden;
  transition: 0.3s;

  background-color: transparent;
}

a.linkBtn {
  display: inline-flex;
}

.linkBtn:hover {
  color: #e3f2fd;
}

.linkBtn:hover:before {
  top: 0;
}

.linkBtn:before {
  content: '';
  background: #138ff2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}
.space {
  width: 75px;
  height: calc(50vh + 37.5px);
  border-top-left-radius: 37.5px;
  border-top-right-radius: 37.5px;
  overflow: hidden;
  margin: calc(50vh - 37.5px) auto 0 auto;
  position: relative;
  pointer-events: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.blackhole {
  border: 5px solid #1674d1;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.blackhole:after {
  content: '';
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 5px solid #1674d1;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 5;
  transform: rotate(45deg);
}
.ship {
  height: 150px;
  width: 55px;
  margin-left: 10px;
  background: url('../../assets/svg/ufo.svg') center/contain no-repeat;
  animation: blackhole 4s infinite linear;
  position: absolute;
  bottom: -150px;
}
@keyframes blackhole {
  to {
    transform: translateY(-100vh);
  }
}
@media (max-width: 600px) {
  .NotFound {
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
    padding-inline: 2rem;
  }
  .space {
    margin-top: 3rem;
  }
  .buttons span {
    text-align: left;
  }
}
